In [3]:
!pip install finta

Collecting finta
  Downloading https://files.pythonhosted.org/packages/d0/6b/1142971fc9567e58fb5a2362cbb44b826b77da543c38b501d653104c112e/finta-1.2-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from finta) (1.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from finta) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->finta) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->finta) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->finta) (1.15.0)
Installing collected packages: finta
Successfully installed finta-1.2

In [124]:
from finta import TA

In [12]:
import pandas as pd

In [ ]:
url = 'http://donnees.ville.montreal.qc.ca/dataset/f170fecc-18db-44bc-b4fe-5b0b6d2c7297/resource/d54cec49-349e-47af-b152-7740056d7311/download/comptagevelo2012.csv'

df = pd.read_csv(url, sep=',', parse_dates={'datetime':[0, 1]}, index_col='datetime')

df.head()

In [ ]:
url2 = 'https://github.com/melo-r/nasdaq-with-finta/blob/main/HistoricalQuotes2.csv'
ohlc = pd.read_csv(url2, index_col=None, parse_dates=True)
ohlc.head()

In [221]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tkt= wb.DataReader('LAME4.SA', data_source='yahoo', start='2020-09-1', end='2020-10-23')

tkt.head()

            High   Low  Open  Close    Volume  Adj Close
Date
2020-09-01 33.04 32.37 32.50  33.00   7869900      33.00
2020-09-02 33.13 32.25 33.00  32.56   3944400      32.56
2020-09-03 32.66 30.51 32.57  30.86  10948400      30.86
2020-09-04 31.23 29.42 30.95  30.84   9476900      30.84
2020-09-08 31.46 30.02 30.02  30.97   7636900      30.97

In [224]:
pd.options.display.float_format = '{:,.2f}'.format
print (tkt)

            High   Low  Open  Close    Volume  Adj Close
Date
2020-09-01 33.04 32.37 32.50  33.00   7869900      33.00
2020-09-02 33.13 32.25 33.00  32.56   3944400      32.56
2020-09-03 32.66 30.51 32.57  30.86  10948400      30.86
2020-09-04 31.23 29.42 30.95  30.84   9476900      30.84
2020-09-08 31.46 30.02 30.02  30.97   7636900      30.97
2020-09-09 31.41 30.34 31.31  30.91   6597900      30.91
2020-09-10 31.33 29.92 31.02  30.15   9826000      30.15
2020-09-11 30.58 29.26 30.06  29.49   5443600      29.49
2020-09-14 31.49 29.78 29.89  31.15   9096900      31.15
2020-09-15 31.34 30.62 31.30  31.26   3972500      31.26
2020-09-16 31.38 30.77 31.27  30.88   4767900      30.88
2020-09-17 30.67 29.96 30.50  30.11   5330500      30.11
2020-09-18 30.35 29.05 29.90  29.40   8496000      29.40
2020-09-21 29.88 28.51 28.83  29.49   5762100      29.49
2020-09-22 29.47 28.80 29.37  29.14   5170100      29.14
2020-09-23 29.38 27.97 29.07  28.87  12239300      28.87
2020-09-24 29.44 28.71 29.00  28.88   7183500      28.88
2020-09-25 29.24 28.34 28.76  29.04   5649400      29.04
2020-09-28 29.57 27.78 29.43  27.80   9778500      27.80
2020-09-29 28.46 27.62 27.73  28.37   9758500      28.37
2020-09-30 28.84 28.14 28.51  28.39   8656200      28.39
2020-10-01 29.45 28.23 28.36  29.33   9757900      29.33
2020-10-02 29.22 28.25 29.09  28.59  10135200      28.59
2020-10-05 28.77 27.84 28.70  28.46  10133500      28.46
2020-10-06 29.00 28.34 28.79  28.54   7928000      28.54
2020-10-07 28.72 27.69 28.48  27.73   8477100      27.73
2020-10-08 28.00 27.38 28.00  27.70   8752800      27.70
2020-10-09 28.35 27.08 27.62  27.20  13148800      27.20
2020-10-13 28.08 27.31 27.33  27.80   6199700      27.80
2020-10-14 28.12 27.10 27.92  27.25   8838800      27.25
2020-10-15 28.44 26.52 26.89  27.82  10645200      27.82
2020-10-16 28.02 27.22 27.82  27.36   5640800      27.36
2020-10-19 28.04 27.32 27.56  27.50   5256100      27.50
2020-10-20 27.90 27.31 27.73  27.40   5981100      27.40
2020-10-21 27.55 26.47 27.40  26.58   9791900      26.58
2020-10-22 26.73 25.98 26.70  26.02  10187500      26.02
2020-10-23 26.47 25.67 26.08  25.89   8905900      25.89

In [206]:
tkt['Variacao'] = (( tkt['Close'] / tkt['Open'] ) -1) * 100
tkt['Volume$'] = (tkt['Close'] * tkt['Volume'])
#tkt['Variacao']

In [212]:

tkt[['Open','High','Low','Close','Variacao','Volume$']].tail(10)

            Open  High   Low  Close  Variacao        Volume$
Date
2020-10-09 27.62 28.35 27.08  27.20     -1.52 357,647,370.03
2020-10-13 27.33 28.08 27.31  27.80      1.72 172,351,655.27
2020-10-14 27.92 28.12 27.10  27.25     -2.40 240,857,300.00
2020-10-15 26.89 28.44 26.52  27.82      3.46 296,149,460.75
2020-10-16 27.82 28.02 27.22  27.36     -1.65 154,332,291.44
2020-10-19 27.56 28.04 27.32  27.50     -0.22 144,542,750.00
2020-10-20 27.73 27.90 27.31  27.40     -1.19 163,882,137.72
2020-10-21 27.40 27.55 26.47  26.58     -2.99 260,268,701.25
2020-10-22 26.70 26.73 25.98  26.02     -2.55 265,078,754.66
2020-10-23 26.08 26.47 25.67  25.89     -0.73 230,573,745.56

In [213]:
#Stochastic RSI 'STOCHRSI'
TA.STOCHRSI(tkt, rsi_period=14, stoch_period=14).tail(2)

Date
2020-10-22   0.82
2020-10-23   0.81
Name: 14 period stochastic RSI., dtype: float64

In [214]:
#batendo
#Stochastic oscillator %D 'STOCHD' - 3 periods
TA.STOCHD(tkt).tail(2)

Date
2020-10-22   11.65
2020-10-23    3.84
Name: 3 period STOCH %D., dtype: float64

In [215]:
#batendo quase
#Stochastic oscillator %K 'STOCH' - 14 periods
TA.STOCH(tkt).tail(3)

Date
2020-10-21   3.69
2020-10-22   1.23
2020-10-23   6.61
Name: 14 period STOCH %K, dtype: float64

In [216]:
sum(TA.STOCH(tkt).tail(3))

11.532476237247913

In [217]:
#Relative Strenght Index 'RSI'
TA.RSI(tkt).tail(5)

Date
2020-10-19   37.52
2020-10-20   36.84
2020-10-21   31.69
2020-10-22   28.74
2020-10-23   28.08
Name: 14 period RSI, dtype: float64

In [218]:
#Volume Weighted Average Price 'VWAP'
TA.VWAP(tkt).tail(1)

Date
2020-10-23   28.89
Name: VWAP., dtype: float64

In [219]:
#batendo
#Simple Moving Average 'SMA'
TA.SMA(tkt, period=9).tail(5)

Date
2020-10-19   27.66
2020-10-20   27.53
2020-10-21   27.40
2020-10-22   27.21
2020-10-23   27.07
Name: 9 period SMA, dtype: float64

In [220]:
#batendo
#Simple Moving Average 'SMA'
TA.SMA(tkt, period=21).tail(5)

Date
2020-10-19   28.32
2020-10-20   28.22
2020-10-21   28.08
2020-10-22   27.93
2020-10-23   27.79
Name: 21 period SMA, dtype: float64